<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Ingreso de Usuario </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ingreso de Usuario</ion-title>
    </ion-toolbar>
  </ion-header>



    <div class="form-login-div">

  
      <ion-list>
          <ion-item class="form-item-list">
            <ion-input type="text" placeholder="Nombre de Usuario" [(ngModel)]="ValorEnviar.usuario" name="nombre" minlength="3" maxlength="16" required pattern="[A-Za-z0-9]+" aria-placeholder="Nombre de Usuario"></ion-input>
          </ion-item>

          <br>
      
        <ion-item class="form-item-list">
      
          <ion-label position="floating">Contraseña (mínimo 4 dígitos)</ion-label>
          <ion-input type="password"  ç
          [(ngModel)]="ValorEnviar.password" name="contrasena" 
          minlength="4" maxlength="8" required></ion-input>
        </ion-item>
      </ion-list>

      <button (click)="presentAlert()" style="margin: 10px;" 
      mat-raised-button color="primary" (click)="ingresar()" 
      [routerLink]="['/home']">Ingresar</button>
      <button style="margin: 10px;" mat-raised-button color="primary" 
      [routerLink]="['/reset']">Reestablecer</button>
      

    </div>

    
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title> Created by Group 3 </ion-title>
  </ion-toolbar>
</ion-footer>
