<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Reestablecer Contraseña (reset)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reestablecer Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="form-login-div">  
    <ion-list>
        <ion-item class="form-item-list">
          <ion-input placeholder="Nombre"></ion-input>
        </ion-item>
    </ion-list>

    <ion-button [routerLink]="['/login']" class="button-login" 
    shape="round">Recuperar</ion-button>
    

  </div>
  <ion-footer>
    <ion-toolbar>
      <ion-title> Created by Group 3 </ion-title>
    </ion-toolbar>
  </ion-footer>
  